body{
    background-color: black;
}

h1{
    color: rgb(255, 222, 160);
    text-align: center;
}

.main-input{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 56, 56, 0.301);
    text-align: center;
    height: 5rem;
    font-size: 1.5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#txtText{
    height: 1.5rem;
    font-size: 1rem;
    width: 50%;
}

#btnSave{
    height: 1.5rem;
}

ul{
    padding: 10px 15px;
}

#pending{
    background-color: rgba(255, 56, 56, 0.301);
    height: 30rem;
    font-size: 1rem;
    width: 54%;
    margin-left: 42%;
    margin-right: auto;
    border-radius: 5px;
    padding: 2rem;
}

.taskItem{
    font-size: 1.5rem;
    color: rgb(255, 222, 160);
    border-bottom: 1px solid black
}

#deleteBtn{
    color: black;
}

.bonfire{
    float: left;
    width: 40rem;
    height: auto;
    border-radius: 60px;
}

label{
    color: rgb(255, 222, 160);
}